<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87b79e">  <td>22/03/28 06:10:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelRun.beforeClass(java.lang.String)[pri:0, instance:stepDefAndRunner.ParallelRun@223d2c72]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="66a8b0">  <td>22/03/28 06:14:02</td>   <td>182528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelRun2.beforeClass(java.lang.String)[pri:0, instance:stepDefAndRunner.ParallelRun2@6f1de4c7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:10:59</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:stepDefAndRunner.ParallelRun@223d2c72]">runScenario</td> 
  <td>TestNG-PoolService-2@1901059774</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:10:59</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:stepDefAndRunner.ParallelRun@223d2c72]">runScenario</td> 
  <td>TestNG-PoolService-2@1901059774</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:10:59</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:stepDefAndRunner.ParallelRun@223d2c72]">runScenario</td> 
  <td>TestNG-PoolService-2@1901059774</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:14:02</td>   <td>182530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:stepDefAndRunner.ParallelRun2@6f1de4c7]">runScenario</td> 
  <td>TestNG-PoolService-0@1304900702</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:10:58</td>   <td>-721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:stepDefAndRunner.ParallelRun@223d2c72]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:14:02</td>   <td>182474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:stepDefAndRunner.ParallelRun2@6f1de4c7]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:13:58</td>   <td>179282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:stepDefAndRunner.ParallelRun@223d2c72]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8e97bc">  <td>22/03/28 06:14:51</td>   <td>232268</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:stepDefAndRunner.ParallelRun2@6f1de4c7]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
</table>
